.menu-time h2:nth-child(1), .menu-score h2:nth-child(1){
    color: #ff0000;
}

.menu-lives span {
    color: rgb(160, 9, 9);
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #000000;
    color: #ffffff;
    height: 90px;
    width: 100%;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #ff0000;
}

.square {
    height: 150px;
    width: 150px;
    border: solid 1px #000000;
    background-color: #0c528f;
}

.enemy {
    background-color: rgb(55, 187, 165);
}
